extends partials/layout

block content
	div.loader
		div.spinner
			div.double-bounce1
			div.double-bounce2

	include pageelements/painelheader
	
	div.main-container
		header.page-header.resume-header(style="padding:150px 0;")
			div.background-image-holder.parallax-background
				img.background-image(alt="background Image", src="/images/hero22.jpg")

			div.container
				div.row
					div.col-sm-12
						h1.text-white.space-bottom-medium Análise de Orçamento
						span #{info.nome} - #{info.email} - #{info.phone}
						

		div.text-banner
			div.container
				div.row
					div.col-sm-12
						h1.center-block Painel
						if(user.status == 'admin')
							h2 Orçamento para #{info.nome} - #{info.email} - #{info.phone}
							
							table.table.table-striped
								thead
									tr
										th Item
										th Quantidade
										th Preço
								tbody.t-analysis
									each item, i in info.itens
										tr
											td #{info.codes[i]}
											td.price-analysis #{info.numbers[i]}
											td.calc-price-analysis #{info.prices[i]}
								tfooter
									tr
										th(colspan="2") Total:
										th.analysis-price
									tr
										th(colspan="2") Cupon:
										if(info.cupom != "none")
											if(info.cupom == "BeAll2014")
												th #{info.cupom} - R$ 600,00
											else if(info.cupom == "ONG2014")
												th #{info.cupom} - R$ 1500,00
											else if(info.cupom == "SWYouth1000")
												th #{info.cupom} - R$ 1000,00
											else if(info.cupom == "SWYouth2000")
												th #{info.cupom} - R$ 2000,00
											else if(info.cupom == "SWYouth3000")
												th #{info.cupom} - R$ 3000,00
									tr
										th(colspan="2") Status:
										th
											select#selectStatus
												option #{info.status}
												option Aberto
												option Info
												option Lead
												option Orcamento
												option Entrou em Contato
												option Negócio Fechado
												option Pago
												option Entregue
												option Pós Venda
											span.changeStatusOk(style="margin-left:20px;display:none;") OK
											span.changeStatusNotOk(style="margin-left:20px;display:none;") Não Deu

							br
							br
							form#deletarOrcamento
								input.btn.btn-primary.btn-filled.pull-right(type="submit", value="Deletar", style="margin-left:20px;", data-idorc="#{info._id}")
							span.deleteError.pull-right(style="display:none;") Oops, algo deu errado
							a.btn.btn-primary.pull-right(href="/painel",) Voltar
							br
							br
							br

	include pageelements/footer	
